.cta,body{font-family:MuseoSans-300}
.login-panel-wrap,.position{width:100%;position:absolute;top:0;left:0}
.doclist-view table thead th,.login-panel{vertical-align:middle}
.border{border:1px solid #9E9E9E}
@font-face{font-family:MuseoSans-100;src:url(../fonts/MuseoSans-100.eot);src:url(../fonts/MuseoSans-100.eot?#iefix) format("embedded-opentype"),url(../fonts/MuseoSans-100.woff2) format("woff2"),url(../fonts/MuseoSans-100.woff) format("woff"),url(../fonts/MuseoSans-100.ttf) format("truetype"),url(../fonts/MuseoSans-100.svg#MuseoSans) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:MuseoSans-300;src:url(../fonts/MuseoSans-300.eot);src:url(../fonts/MuseoSans-300.eot?#iefix) format("embedded-opentype"),url(../fonts/MuseoSans-300.woff2) format("woff2"),url(../fonts/MuseoSans-300.woff) format("woff"),url(../fonts/MuseoSans-300.ttf) format("truetype"),url(../fonts/MuseoSans-300.svg#MuseoSans) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:MuseoSans-500;src:url(../fonts/MuseoSans-500.eot);src:url(../fonts/MuseoSans-500.eot?#iefix) format("embedded-opentype"),url(../fonts/MuseoSans-500.woff2) format("woff2"),url(../fonts/MuseoSans-500.woff) format("woff"),url(../fonts/MuseoSans-500.ttf) format("truetype"),url(../fonts/MuseoSans-500.svg#MuseoSans) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:Montserrat-Bold;src:url(../fonts/Montserrat-Bold.eot);src:url(../fonts/Montserrat-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat-Bold.woff2) format("woff2"),url(../fonts/Montserrat-Bold.woff) format("woff"),url(../fonts/Montserrat-Bold.ttf) format("truetype"),url(../fonts/Montserrat-Bold.svg#MuseoSans) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:Montserrat-Light;src:url(../fonts/Montserrat-Light.eot);src:url(../fonts/Montserrat-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat-Light.woff2) format("woff2"),url(../fonts/Montserrat-Light.woff) format("woff"),url(../fonts/Montserrat-Light.ttf) format("truetype"),url(../fonts/Montserrat-Light.svg#MuseoSans) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:Montserrat-Medium;src:url(../fonts/Montserrat-Medium.eot);src:url(../fonts/Montserrat-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat-Medium.woff2) format("woff2"),url(../fonts/Montserrat-Medium.woff) format("woff"),url(../fonts/Montserrat-Medium.ttf) format("truetype"),url(../fonts/Montserrat-Medium.svg#MuseoSans) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:Montserrat-Regular;src:url(../fonts/Montserrat-Regular.eot);src:url(../fonts/Montserrat-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat-Regular.woff2) format("woff2"),url(../fonts/Montserrat-Regular.woff) format("woff"),url(../fonts/Montserrat-Regular.ttf) format("truetype"),url(../fonts/Montserrat-Regular.svg#MuseoSans) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:Montserrat-SemiBold;src:url(../fonts/Montserrat-SemiBold.eot);src:url(../fonts/Montserrat-SemiBold.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat-SemiBold.woff2) format("woff2"),url(../fonts/Montserrat-SemiBold.woff) format("woff"),url(../fonts/Montserrat-SemiBold.ttf) format("truetype"),url(../fonts/Montserrat-SemiBold.svg#MuseoSans) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:Montserrat-Thin;src:url(../fonts/Montserrat-Thin.eot);src:url(../fonts/Montserrat-Thin.eot?#iefix) format("embedded-opentype"),url(../fonts/Montserrat-Thin.woff2) format("woff2"),url(../fonts/Montserrat-Thin.woff) format("woff"),url(../fonts/Montserrat-Thin.ttf) format("truetype"),url(../fonts/Montserrat-Thin.svg#MuseoSans) format("svg");font-weight:400;font-style:normal}
body{font-weight:400;background:#fff;font-size:16px;line-height:23px;color:#212121}
ul{margin:0;padding:0;list-style:none}
.cta{display:inline-block;color:#fff;border:1px solid #ffa000;background:#ffa000;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;font-size:14px;line-height:19px;padding:5px 10px;margin:10px 0 0;-webkit-transition:all .6s ease;-moz-transition:all .6s ease;-ms-transition:all .6s ease;-o-transition:all .6s ease;transition:all .6s ease}
.cta:hover,.cta:visited{color:#fff;background:rgba(255,160,0,.7)}
.login-panel-wrap{display:table;height:100%}
.login-panel{display:table-cell}
.login-center{margin:0 auto;width:300px}
.login-wrap{float:left;width:300px;background:#eee;padding:15px 15px 0;border:1px solid #ccc}
.login-wrap form{float:left;width:100%;padding:0;margin:0}
.login-wrap form .form-group{float:left;width:100%}
.login-wrap form label{font-family:Montserrat-Regular;font-size:14px;line-height:17px;font-weight:400}
.login-wrap form .fp-text{float:left;margin:8px 0 0;font-family:Montserrat-Regular;font-size:12px;line-height:15px;color:#ffa000}
.login-hd h3,.upload-hd h3{color:#00bcd4;font-family:Montserrat-Regular;font-size:18px;line-height:23px}
.login-wrap form .btn{float:right}
.login-hd{float:left;width:100%;border-bottom:1px solid #fff;margin:0 0 15px}
.login-hd h3{padding:0;margin:0 0 7px}
.upload-wrap{margin:0 auto;width:500px}
.upload-section{float:left;width:100%;margin:100px 0 0;padding:15px;border:1px solid #ccc}
.upload-hd{float:left;width:100%;border-bottom:1px solid #fff;margin:15px 0 0}
.upload-hd h3{padding:0;margin:0 0 7px;float:left}
.upload-hd .view-list,.upload-row .file-input .alert{font-size:12px;line-height:17px;font-family:Montserrat-Regular}
.upload-hd .view-list{float:right;color:#ffa000;margin:0}
.upload-colum{float:left;width:100%}
.upload-row{float:left;width:100%;margin:15px 0 0}
.upload-row .file-input{float:left;width:90%;padding:0 15px 0 0}
.upload-row .file-input .alert{padding:0;margin:0;background:0 0;border:none;display:none}
.upload-row .file-add-btn{float:right;width:auto}
.upload-row .file-add-btn a{font-size:30px;line-height:34px;display:inline-block;margin:0 5px}
.upload-bottom,.user-detail-wrap{margin:15px 0 0;float:left;width:100%}
.upload-bottom p{font-family:Montserrat-Regular;font-size:13px;line-height:17px}
.user-detail-wrap{padding:15px;border:1px solid #ddd}
.user-detail-wrap .user-img,.user-detail-wrap .user-img img,.user-detail-wrap ul.user-det-colum{float:left;width:100%}
.user-detail-wrap ul.user-det-colum li{float:left;width:100%;margin:0 0 10px}
.user-detail-wrap ul.user-det-colum li small{display:block;font-family:Montserrat-Medium;font-size:14px;line-height:19px}
.user-detail-wrap ul.user-det-colum li span{display:block;font-family:Montserrat-Regular;font-size:13px;line-height:19px}
.user-detail-wrap h4{font-family:Montserrat-Medium;font-size:18px;line-height:29px;margin:0 0 10px}
.doclist-view table tbody,.user-detail-wrap p{font-family:Montserrat-Light}
.doclist-view table tbody,.doclist-view table thead,.user-detail-wrap p{font-size:14px;line-height:19px}
.user-detail-wrap .btn{float:right}
.doclist-view{float:left;width:100%;margin:15px 0 0}
.allow-top .allow-to-access label,.allow-top h4{font-family:Montserrat-Medium;line-height:27px}
.allow-top{float:left;width:100%;background:#eee;padding:10px 15px}
.allow-top h4{margin:0;float:left;font-size:18px}
.allow-top .allow-to-access{float:right;width:auto}
.allow-top .allow-to-access input[type=checkbox]{float:left;margin:7px 0 0}
.allow-top .allow-to-access label{float:left;margin:0 0 0 5px;cursor:pointer;font-size:13px}